body{
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
}

/* navbar */
.navbar ul {
    box-sizing: border-box;
    -moz-box-sfizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    height: auto;
    list-style-type: none;
    border: 3px solid #0c5a7c;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #63afcd;
  }
  
 .navbar li {
    float: left;
  }
  
  .navbar li a {

    font-size: 23px;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 25px;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .logo{
    float:left;
  }

  .navbar li a:hover {
    background-color: #0c5a7c;
  }



  /* main page */
  .page{
    box-sizing: border-box;
    -moz-box-sfizing: border-box;
    -webkit-box-sizing: border-box;
    overflow:hidden;
    width: auto;
    height: auto;
    border: 3px solid #0c5a7c;
    margin: 10px;

    background-color: #d0f2ff;
    margin: 10%;
  }


  .page h1{
    font-size: 36px;
    text-align: center;
  }

  .page p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }
  .page a {
    font-size: 20px;
  }

  .page h2 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .page h2 a {
    font-size: 24px;
    text-decoration: none;
    color: black;
  }

  