


.teambox1{
    color:white;
    box-sizing: border-box;
    -moz-box-sfizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 3px solid #083b52;
    background-color: #0c5a7c;
    margin-left: 10%;
    float: left;
    margin-bottom: 10px;
    
  }

  .teambox2{
    color:white;
    box-sizing: border-box;
    -moz-box-sfizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 3px solid #083b52;
    background-color: #0c5a7c;
    margin-left: 40%;
    margin-bottom: 10px;
  }

.center {
    text-align: center;
}
